<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Error</title>
     <link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='MyStyle.css')}}" />
</head>
<body>
    <p><font color="red">WRONG USERNAME OR PASSWORD </font></p>
    <img src="{{ url_for('static', filename = "Qualcuno-ha-ricreato-il-terminale-informatico-di-Jurassic-Park.jpg") }}" alt="Cannot open the image">
    <p>"Ah Ah Ah you didn't say the magic word!"</p>
    <p><a href="{{ url_for("home") }}">Try again</a></p>
</body>
</html>