<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System</title>

<link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='MyStyle.css')}}" /></head>
<body>
    <p>Hi {{ user }}, welcome to your Feel & Drive assistant!</p>

<link href='https://fonts.googleapis.com/css?family=Allerta' rel='stylesheet'>



    <div class="container-audio">
        <audio controls  loop autoplay>
                   <source src="{{ url_for('static', filename = "Sundress - ASAP Rocky.mp3") }}" type="audio/mp3">
                   Your browser dose not Support the audio Tag
               </audio>
    </div>
    <div class="container-audio">
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
        <div class="colum1">
            <div class="row"></div>
        </div>
    </div>
    <div><p>Your songs:</p>
        <ul>
            {% if length > 0 %}
                {% for song in songs %}
                    <li>{{song}} <a href="{{ url_for("delete_relation", username=user, song=song) }}">Delete</a></li>
                {% endfor %}
            {% else %}
                <p>You still don't have any favourite song!</p>
            {% endif %}
        </ul>
    </div>
    <p><a href="{{ url_for('logout') }}">Logout</a></p>
</body>
</html>